body{
  height: 100%;
  background-image: url('./images/space.jpg');
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralbox {
  position: relative;
  height: 90vh;
  width: 130vh;
  background-color: #222222;
  opacity: .5;
  border-radius: 10px;
  border: 1px solid;
  z-index: 1; 
  display: flex;
  flex-direction: column;
}

.menu {
  position: relative;
  display: flex;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: rgb(34, 57, 126);
  border: 2px solid rgb(54, 75, 139);
  z-index: 2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}

.menu button {
  width: calc(100% / 3); /* Adjust the number based on the number of buttons */
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.menu button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.menu button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.content {
  position: relative;
  flex-grow: 1;
  margin: 10px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% - 20px);
  overflow: auto;
}

/* Additional styles for the modal */
.modal {
  display: flex;
  align-items: center; 
  justify-content: center;
  position: absolute;
  height: 70%;
  width: 63.5%;
  z-index: 11;
  overflow: auto;
}

.modal-content {
  color: white;
  z-index: 11;
  max-height: 100%;
  height: auto;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  position: absolute;
  color: white;
  text-align: center;
  font-size:xx-large;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-footer {
  border-top: none;
  color:rgb(255, 255, 255);
}

.modal-dialog {
  margin: 0;
  max-width: 100%;
  width: auto;
  text-align: left;
}

.modal-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.modal ul{
  margin:0;
  padding: 0;
}